{% embed 'main.html.twig' %}

    {% block body %}

        {% embed 'form/form.html.twig' %}

        {% endembed %}

    {% endblock %}

    <select>
        <option></option>
    </select>

{% endembed %}